body {
    --black: #111111;
    --white: #fdfdfd;
    --green: #22cc88;
    --blue: #0055ff;
    --purple: #8855ff;
    --red: #ff0055;
    --orange: #ee4444;
    --yellow: #ffcc00;
    --mustard: #ffaa00;
  }
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }
  